.loadingContainer {
  margin: auto;
}
.loadingInnerContainer {
  width: 100%;
  height: 100%;
  -webkit-animation: rotate 0.9s ease-out infinite;
  animation: rotate 0.9s ease-out infinite;
}

.loading {
  width: 100%;
  height: 50%; /* as the half of the width */
  background-color: transparent;
  border-top-left-radius: 110px; /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /* 100px of height + 10px of border */
  border: 2px solid;
  border-bottom: 0;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
